/* Text link underline size and spacing */
a {
    text-underline-position: under; 
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.05em;
}
/* Remove top margin on rich text first child */
.w-richtext>:first-child {
    margin-top: 0;
}
/* Remove bottom margin of rich text last child */
.w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
    margin-bottom: 0;
}

.w-form-formradioinput--inputType-custom {
width: 12px;
height: 12px;
border: 1px solid #ccc;
border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
border-width: 4px;
border-color: #3898ec;
}

.w-checkbox {
margin-bottom: 5px;
padding-left: 20px;
display: block;
}

.w-checkbox:before {
content: " ";
grid-area: 1 / 1 / 2 / 2;
display: table;
}

.w-checkbox:after {
content: " ";
clear: both;
grid-area: 1 / 1 / 2 / 2;
display: table;
}

.w-checkbox-input {
float: left;
margin: 4px 0 0 -20px;
line-height: normal;
}

.w-checkbox-input--inputType-custom {
width: 12px;
height: 12px;
border: 1px solid #ccc;
border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
background-color: #3898ec;
background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
background-position: 50%;
background-repeat: no-repeat;
background-size: cover;
border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
box-shadow: 0 0 3px 1px #3898ec;
}

body {
color: #333;
font-family: Firacode Variablefont Wght, sans-serif;
font-size: 1rem;
line-height: 1.5;
}

h1 {
letter-spacing: .15rem;
margin-top: 0;
margin-bottom: .2em;
font-family: Neutralface, sans-serif;
font-size: 7vw;
font-weight: 400;
line-height: 1.1;
}

h2 {
margin-top: 0;
margin-bottom: .3em;
font-family: Simplon Bptestfont Mono, sans-serif;
font-size: 5rem;
font-weight: 700;
line-height: 1.1;
}

h3 {
margin-top: 0;
margin-bottom: .5em;
font-family: Satoshi Variable, sans-serif;
font-size: 2rem;
font-weight: 400;
line-height: 1.2;
}

h4 {
margin-top: 0;
margin-bottom: .8em;
font-family: Satoshi Variable, sans-serif;
font-size: .875rem;
font-weight: 400;
line-height: 1.6;
}

p {
text-transform: lowercase;
margin-bottom: 1em;
}

a {
color: #333;
text-transform: lowercase;
text-decoration: underline;
}

ul, ol {
margin-top: 0;
margin-bottom: 10px;
padding-left: 40px;
font-family: Firacode Variablefont Wght, sans-serif;
}

li {
margin-bottom: .2em;
}

.u-p-0 {
padding: 0;
}

.styles__section-label {
letter-spacing: 0;
text-transform: none;
border-bottom: 2px dotted #302f2c;
margin-top: 6rem;
margin-bottom: 2rem;
padding-bottom: 8px;
}

.u-bg-midgray {
background-color: #888680;
}

.u-text-center {
text-align: center;
}

.styles__nav {
z-index: 2;
text-transform: uppercase;
background-color: #131212;
padding-top: 16px;
padding-bottom: 16px;
line-height: 1.1;
position: -webkit-sticky;
position: sticky;
top: 0;
}

.styles__card-preview {
width: 100%;
min-height: 120px;
text-align: center;
border-bottom: 1px solid #1d1c1a;
justify-content: center;
align-items: center;
display: flex;
position: relative;
}

.u-h-100 {
height: 100%;
}

.h3 {
margin-top: 0;
margin-bottom: .5em;
font-family: Satoshi Variable, sans-serif;
font-size: 2rem;
font-weight: 600;
line-height: 1.2;
}

.page-wrapper {
color: #fff;
background-color: #131212;
position: relative;
}

.page-wrapper.cc-light {
color: #333;
background-color: #f6f1ee;
background-image: url('../images/noisy-texture-200x200-o6-d10-c-F6F1EE-t1.png');
background-position: 0 0;
background-size: auto;
}

.u-d-none {
display: none;
}

.input-group {
text-align: left;
flex-direction: column;
margin-bottom: 12px;
padding-top: 1px;
padding-bottom: 40px;
padding-right: 1px;
display: block;
position: relative;
}

.input-group.cc-textarea {
min-height: 140px;
}

.input-group.cc-toggle {
margin-bottom: 8px;
padding: 0 0 0 28px;
}

.u-link-cover {
width: 100%;
height: 100%;
position: absolute;
top: 0%;
bottom: 0%;
left: 0%;
right: 0%;
}

.u-border {
width: 100%;
height: 1px;
}

.u-border.u-bg-gray {
background-color: #888680;
}

.styles__card {
background-color: rgba(0, 115, 230, .1);
border: 1px solid #0073e6;
border-radius: 8px;
overflow: hidden;
}

.styles__visual-div {
text-align: center;
background-color: rgba(0, 115, 230, .1);
border: 1px solid #0073e6;
border-radius: 3px;
margin-bottom: 12px;
padding: 16px;
position: relative;
}

.input-radio {
width: 20px;
height: 20px;
background-color: rgba(0, 0, 0, 0);
border-color: #888680;
margin-top: 2px;
margin-left: -28px;
box-shadow: inset 0 0 0 3px #fff;
}

.input-radio:hover {
background-color: #dfddd6;
border-color: #d14424;
}

.input-radio.w--redirected-checked {
background-color: #d14424;
border-width: 1px;
border-color: #d14424;
}

.input-radio.w--redirected-focus {
box-shadow: none;
outline-offset: 0px;
border-color: #d14424;
outline: 2px solid #d14424;
}

.input-radio.cc-light {
box-shadow: inset 0 0 0 3px #302f2c;
}

.input-radio.cc-light:hover {
background-color: #888680;
}

.styles__nav-logo {
width: 64px;
color: #fff;
margin-left: .8em;
line-height: .8;
}

.h2 {
margin-top: 0;
margin-bottom: .3em;
font-family: Simplon Bptestfont Mono, sans-serif;
font-size: 5rem;
font-weight: 600;
line-height: 1.1;
}

.u-img-cover {
width: 100%;
height: 100%;
object-fit: cover;
position: absolute;
top: 0%;
bottom: 0%;
left: 0%;
right: 0%;
}

.u-bg-primary {
background-color: #360060;
}

.u-text-lightgray {
color: #f6f1ee;
}

.paragraph-1-25 {
font-size: 1.25rem;
}

.h1 {
letter-spacing: .15rem;
margin-top: 0;
margin-bottom: .2em;
font-family: Neutralface, sans-serif;
font-size: 7vw;
font-weight: 400;
line-height: 1.1;
}

.form_required-note {
font-size: .8rem;
position: absolute;
top: auto;
bottom: 0%;
left: auto;
right: 0%;
}

.u-d-flex {
display: flex;
}

.u-d-flex.cc-align-center {
align-items: center;
}

.h4 {
margin-top: 0;
margin-bottom: .8em;
font-size: 1.2rem;
font-weight: 600;
line-height: 1.6;
}

.u-text-midgray {
color: #888680;
}

.u-pt-3 {
padding-top: 3em;
}

.styles__selector-callout {
color: #fff;
background-color: #0073e6;
border-radius: 3px;
margin-top: .1em;
margin-bottom: .1em;
margin-right: .2em;
padding: .08em .6em;
font-family: Inconsolata, monospace;
font-size: .8rem;
line-height: 1.7;
display: inline-block;
position: relative;
top: -1px;
}

.styles__selector-callout.cc-element {
background-color: #d13591;
}

.u-w-100 {
width: 100%;
}

.form-success_flex {
width: 100%;
height: 100%;
max-width: 500px;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
display: flex;
position: absolute;
top: 0%;
bottom: 0%;
left: 0%;
right: 0%;
}

.u-mt-3 {
margin-top: 3em;
}

.u-p-1 {
padding: 1em;
}

.styles__nav-link {
color: #fff;
letter-spacing: .03em;
padding: .6em .8em;
font-size: .85em;
font-weight: 500;
text-decoration: none;
display: inline-block;
}

.styles__nav-link:hover, .styles__nav-link.w--current {
text-decoration: underline;
}

.styles__nav-link.cc-cta {
background-color: #360060;
border-radius: 4px;
margin-left: .4em;
}

.styles__nav-link.cc-cta:hover {
background-color: #302f2c;
text-decoration: none;
}

.u-pt-0 {
padding-top: 0;
}

.u-mb-2 {
margin-bottom: 2em;
}

.u-text-primary {
color: #360060;
}

.u-overflow-hidden {
overflow: hidden;
}

.u-bg-lightgray {
background-color: #f6f1ee;
}

.u-mb-0 {
margin-bottom: 0;
}

.card-body {
flex-direction: column;
flex: 1;
justify-content: flex-start;
align-items: flex-start;
padding: 24px;
position: relative;
}

.input-check {
width: 20px;
height: 20px;
background-color: rgba(0, 0, 0, 0);
border-color: #888680;
margin-top: 2px;
margin-left: -28px;
box-shadow: 0 0 rgba(0, 0, 0, 0);
}

.input-check:hover {
background-color: #dfddd6;
border-color: #d14424;
}

.input-check.w--redirected-checked {
background-color: #d14424;
background-size: 16px;
border-color: #d14424;
}

.input-check.w--redirected-focus {
box-shadow: none;
outline-offset: 0px;
border-color: #d14424;
outline: 2px solid #d14424;
}

.input-check.cc-light:hover {
background-color: #888680;
}

.styles__row-example {
height: 200px;
border: 1px dashed #302f2c;
margin-top: 4px;
padding: 20px;
}

.u-bg-white {
background-color: #fff;
}

.u-d-block {
display: block;
}

.u-z-index-1 {
z-index: 1;
position: relative;
}

.u-mt-0 {
margin-top: 0;
}

.btn {
color: #333;
background-color: #fff;
border: 1px solid rgba(0, 0, 0, 0);
padding: 1em 2em;
text-decoration: none;
transition: box-shadow .3s cubic-bezier(.165, .84, .44, 1), border-color .3s cubic-bezier(.165, .84, .44, 1);
display: inline-block;
box-shadow: inset 0 0 rgba(0, 0, 0, 0);
}

.btn:hover {
color: #fff;
box-shadow: inset 0 0 0 100px rgba(0, 0, 0, .15);
}

.btn.cc-secondary {
color: #131212;
background-color: rgba(0, 0, 0, 0);
border-color: #360060;
}

.btn.cc-secondary:hover {
box-shadow: inset 0 0 0 100px #f6f1ee;
}

.btn.cc-secondary.cc-light {
color: #fff;
background-color: rgba(255, 255, 255, 0);
border-color: #fff;
}

.btn.cc-secondary.cc-light:hover {
box-shadow: inset 0 0 0 100px rgba(255, 255, 255, .15);
}

.btn.cc-secondary.cc-nav {
background-color: #f6f1ee;
background-image: url('../images/noisy-texture-200x200-o6-d10-c-F6F1EE-t1.png');
background-position: 0 0;
background-size: auto;
}

.btn.cc-light {
color: #323a45;
background-color: #fff;
}

.btn.cc-cta {
box-shadow: -12px 12px #202020, -14px 14px #fff, inset 0 0 rgba(0, 0, 0, 0);
}

.paragraph-0-9 {
font-size: .9rem;
line-height: 1.4;
}

.u-pb-3 {
padding-bottom: 3em;
}

.input-label {
z-index: 1;
color: #1d1c1a;
border-top-right-radius: 3px;
margin-bottom: 0;
margin-left: 16px;
padding-top: 12px;
padding-bottom: 4px;
font-size: .9rem;
line-height: 1;
position: relative;
}

.input-label.cc-static {
background-color: rgba(0, 0, 0, 0);
margin-left: 0;
padding-top: 0;
padding-bottom: 0;
font-size: 1rem;
}

.u-bg-black {
background-color: #131212;
}

.col {
flex: 1;
margin-bottom: 40px;
padding-left: 20px;
padding-right: 20px;
}

.col.col-lg-11 {
max-width: 91.6667%;
flex-basis: 91.67%;
}

.col.col-lg-6 {
max-width: 50%;
flex-basis: 50%;
}

.col.col-lg-12 {
max-width: 100%;
flex-basis: 100%;
}

.col.col-lg-4 {
max-width: 33.3333%;
flex-basis: 33.33%;
}

.col.col-no-gutters {
padding-left: 0;
padding-right: 0;
}

.col.col-shrink {
flex: 0 auto;
}

.col.col-shrink.u-mb-0 {
margin-bottom: 0;
}

.col.col-lg-2 {
max-width: 16.6667%;
flex-basis: 16.67%;
}

.col.col-lg-10 {
max-width: 83.3333%;
flex-basis: 83.33%;
}

.col.col-lg-5 {
max-width: 41.6667%;
flex-basis: 41.67%;
}

.col.u-mb-0 {
margin-bottom: 0;
}

.col.col-lg-last {
order: 1;
}

.col.col-lg-3 {
max-width: 25%;
flex-basis: 25%;
}

.col.col-lg-7 {
max-width: 58.3333%;
flex-basis: 58.33%;
}

.col.col-lg-1 {
max-width: 8.33333%;
flex-basis: 8.33%;
}

.col.col-lg-first {
order: -1;
}

.col.col-lg-8 {
max-width: 66.6667%;
flex-basis: 66.67%;
}

.col.col-lg-9 {
max-width: 75%;
flex-basis: 75%;
}

.u-text-right {
text-align: right;
}

.container {
width: 90%;
max-width: 90rem;
margin-left: auto;
margin-right: auto;
display: block;
}

.container.cc-narrow {
max-width: 64rem;
}

.u-aspect-1x1 {
width: 100%;
padding-top: 100%;
position: relative;
overflow: hidden;
}

.form-success {
min-height: 320px;
background-color: rgba(0, 0, 0, 0);
position: relative;
}

.form {
width: 100%;
position: relative;
}

.row {
flex-wrap: wrap;
align-content: stretch;
margin-left: -20px;
margin-right: -20px;
display: flex;
}

.row.row-justify-between {
justify-content: space-between;
}

.row.row-justify-around {
justify-content: space-around;
}

.row.row-justify-end {
justify-content: flex-end;
}

.row.row-no-gutters {
margin-left: 0;
margin-right: 0;
}

.row.row-no-gutters.cc-border-bottom {
border-bottom: 1px solid #333;
}

.row.row-align-center {
align-items: center;
}

.row.row-justify-center {
justify-content: center;
}

.row.row-align-end {
align-items: flex-end;
}

.row.cc-project-section {
border-bottom: 1px solid #333;
}

.u-ml-1 {
margin-left: 1em;
}

.u-mt-1 {
margin-top: 1em;
}

.styles__utility-wrap {
margin-bottom: 20px;
padding: 1px;
}

.styles__utility-wrap.cc-padding {
background-image: url('../images/bg-padding.svg');
background-position: 0 0;
background-size: 4px;
}

.styles__utility-wrap.cc-margin {
background-image: url('../images/bg-margin.svg');
background-position: 0 0;
background-size: 4px;
}

.u-mt-2 {
margin-top: 2em;
}

.u-position-relative {
position: relative;
}

.u-text-darkgray {
color: #333;
}

.u-sr-only {
width: 1px;
height: 1px;
white-space: nowrap;
border: 0 solid rgba(0, 0, 0, 0);
margin-top: -1px;
padding: 0;
position: absolute;
overflow: hidden;
}

.u-pb-0 {
padding-bottom: 0;
}

.u-mr-1 {
margin-right: 1em;
}

.paragraph-1-5 {
font-size: 1.5rem;
}

.u-mb-1 {
margin-bottom: 1em;
}

.u-mt-auto {
margin-top: auto;
}

.u-pt-2 {
padding-top: 2em;
}

.u-pb-1 {
padding-bottom: 1em;
}

.u-mb-3 {
margin-bottom: 3em;
}

.u-pb-2 {
padding-bottom: 2em;
}

.u-text-black {
color: #131212;
}

.u-bg-darkgray {
background-color: #333;
}

.u-pt-1 {
padding-top: 1em;
}

.section {
padding-top: 8rem;
padding-bottom: 8rem;
position: relative;
}

.section.cc-home-header {
padding-top: 12rem;
}

.section.cc-projects {
border-top: 1px solid #333;
border-bottom: 1px #333;
padding-top: 4rem;
padding-bottom: 0;
}

.section.cc-about {
padding-top: 0;
padding-bottom: 0;
}

.section.cc-cta {
background-image: url('../images/noisy-texture-200x200-o6-d10-c-F6F1EE-t1.png'), linear-gradient(to top, #131212, #333);
background-position: 0 0, 0 0;
background-size: auto, auto;
}

.section.cc-footer {
color: #f6f1ee;
background-color: #131212;
background-image: url('../images/noisy-texture-200x200-o6-d10-c-F6F1EE-t1.png');
background-position: 0 0;
background-size: auto;
border-top: 1px solid #f6f1ee;
padding-top: 3rem;
padding-bottom: 3rem;
}

.u-text-white {
color: #fff;
}

.styles__nav-container {
justify-content: space-between;
align-items: center;
display: flex;
}

.u-mlr-auto {
margin-left: auto;
margin-right: auto;
}

.styles__nav-version {
color: #fff;
text-transform: none;
background-color: #360060;
border-radius: 4px;
margin-left: .8em;
padding: .35em .5em .4em;
font-size: .7em;
display: inline-block;
}

.eyebrow {
letter-spacing: .1em;
text-transform: lowercase;
margin-bottom: 1.5em;
font-size: .8rem;
font-weight: 500;
}

.u-overflow-visible {
overflow: visible;
}

.card {
border-radius: 8px;
flex-direction: column;
flex: 1;
justify-content: flex-start;
margin-bottom: 1em;
display: flex;
position: relative;
overflow: hidden;
}

.u-m-0 {
margin: 0;
}

.form-error {
color: #e31700;
background-color: rgba(0, 0, 0, 0);
border-top: 1px solid #e31700;
margin-top: 16px;
padding: 8px 0 0;
}

.styles_utility-card {
background-color: rgba(0, 115, 230, .1);
border: 1px solid #0073e6;
padding: 20px;
}

.input {
height: 100%;
min-height: 65px;
color: #1d1c1a;
background-color: rgba(0, 0, 0, 0);
border: 1px solid #888680;
border-radius: 8px;
margin-bottom: 0;
padding: 32px 16px 8px;
font-size: 1rem;
transition: border-color .3s cubic-bezier(.165, .84, .44, 1);
position: absolute;
top: 0%;
bottom: 0%;
left: 0%;
right: 0%;
}

.input:hover, .input:focus {
border-color: #d14424;
}

.input::-ms-input-placeholder {
color: #888680;
}

.input::placeholder {
color: #888680;
}

.input.cc-select {
background-image: url('../images/arrow-black.svg');
background-position: 98%;
background-repeat: no-repeat;
background-size: 24px;
padding-left: 12px;
}

.input.cc-light {
color: #fff;
}

.styles__global-embed-code {
position: fixed;
top: 0%;
bottom: auto;
left: 0%;
right: auto;
}

.icon-1 {
width: 1rem;
height: 1rem;
justify-content: center;
align-items: center;
}

.icon-embed {
width: 100%;
height: 100%;
}

.icon-2 {
width: 2rem;
height: 2rem;
justify-content: center;
align-items: center;
}

.icon-3 {
width: 3rem;
height: 3rem;
justify-content: center;
align-items: center;
}

.icon-1-5 {
width: 1.5rem;
height: 1.5rem;
justify-content: center;
align-items: center;
}

.icon-2-5 {
width: 2.5rem;
height: 2.5rem;
justify-content: center;
align-items: center;
}

.icon-3-5 {
width: 3.5rem;
height: 3.5rem;
justify-content: center;
align-items: flex-end;
}

.template_header-component {
min-height: 80vh;
background-color: #f6f1ee;
border-radius: 2rem;
padding: 2em 4em;
}

.template-header-component-content {
height: 100%;
grid-row-gap: 2rem;
background-color: #fff;
border-radius: 1rem;
flex-direction: column;
padding: 2em;
display: flex;
}

.image-wrapper {
position: relative;
overflow: hidden;
}

.image-wrapper.cc-br-1 {
border-radius: 1rem;
}

.image-wrapper.cc-projects {
height: 100%;
border: 1px solid #333;
}

.image-wrapper.cc-projects.is-first {
border-top-style: none;
}

.image-wrapper.cc-projects.is-last {
border-bottom-style: none;
}

.image-overlay {
z-index: 1;
position: absolute;
top: 0%;
bottom: 0%;
left: 0%;
right: 0%;
}

.image-overlay.cc-gradient-1 {
mix-blend-mode: hue;
background-image: linear-gradient(55deg, #360060, #27125f 26%, #162683 54%, #2658b6 77%, #389bd1);
}

.image-overlay.cc-cover {
width: 100%;
height: 100%;
object-fit: cover;
}

.home_header_box {
border: 1px solid #333;
padding: 2rem 2.5rem;
position: relative;
}

.home_header_box.is-below {
border-top-style: none;
}

.home_header_box.is-tools {
border-top-style: none;
justify-content: flex-start;
padding: 0;
display: flex;
}

.u-text-bold {
font-weight: 700;
}

.bracket-image-wrapper {
width: 5rem;
height: 3rem;
position: absolute;
top: -1.5rem;
bottom: auto;
left: auto;
right: 5rem;
}

.bracket-image-wrapper.cc-marquee {
position: static;
}

.bracket-image-wrapper.cc-about {
top: auto;
bottom: 3.5rem;
left: auto;
right: -2.5rem;
transform: rotate(90deg);
}

.description-box {
max-width: 20rem;
border: 1px #333;
border-style: none none solid solid;
padding: 1rem 1.5rem;
position: absolute;
top: 0%;
bottom: auto;
left: auto;
right: 0%;
}

.paragraph {
letter-spacing: 0;
text-transform: lowercase;
font-family: Firacode Variablefont Wght, sans-serif;
font-size: 1rem;
line-height: 1.3;
}

.logos_wrapper {
grid-column-gap: 2rem;
grid-row-gap: 2rem;
align-items: center;
display: flex;
}

.logo-image {
height: 20px;
}

.tool-box {
padding: 2rem 2.5rem;
position: relative;
}

.tool-box.is-first {
border-right: 1px solid #333;
}

.toolbox-text {
height: 20px;
background-color: #f6f1ee;
background-image: url('../images/noisy-texture-200x200-o6-d10-c-F6F1EE-t1.png');
background-position: 0 0;
background-size: auto;
padding-left: 4px;
padding-right: 4px;
font-size: .9rem;
line-height: 1.4;
position: absolute;
top: auto;
bottom: -10px;
left: 2.5rem;
right: auto;
}

.code-box {
height: 100%;
max-width: 20rem;
min-width: 5vw;
justify-content: flex-end;
margin-left: 0;
display: flex;
position: relative;
overflow: hidden;
}

.code-box.cc-worksection {
width: 10%;
margin-top: 5rem;
margin-left: 2rem;
margin-right: 2rem;
padding-top: 70%;
overflow: hidden;
}

.code-text {
opacity: .2;
word-break: break-all;
position: absolute;
top: 0%;
bottom: 0%;
left: 0%;
right: 0%;
}

.top-nav {
background-color: rgba(246, 241, 238, 0);
position: fixed;
top: 3rem;
bottom: auto;
left: 0%;
right: 0%;
}

.nav-border {
width: 1px;
height: 10px;
background-color: #333;
margin-top: auto;
margin-bottom: auto;
}

.nav-menu {
background-color: #f6f1ee;
background-image: url('../images/noisy-texture-200x200-o6-d10-c-F6F1EE-t1.png');
background-position: 0 0;
background-size: auto;
border: 1px solid #333;
padding-left: 1rem;
padding-right: 1rem;
display: flex;
}

.marquee {
grid-column-gap: 4rem;
grid-row-gap: 4rem;
border-bottom: 1px solid #333;
padding-bottom: 4rem;
display: flex;
position: relative;
overflow: hidden;
}

.marquee-content {
min-width: 100%;
grid-column-gap: 4rem;
grid-row-gap: 4rem;
flex: none;
justify-content: space-around;
align-items: center;
display: flex;
}

.work-content-wrapper {
max-width: 30rem;
flex-direction: column;
align-items: flex-start;
padding: 5rem 5% 6rem 6rem;
display: flex;
}

.work-content-wrapper.is-left {
padding-left: 0;
padding-right: 6rem;
}

.u-text-justify {
text-align: justify;
}

.u-text-justify.u-mb-6 {
margin-bottom: 6em;
}

.u-text-justify.u-mb-5 {
margin-bottom: 5em;
}

.tags-wrapper {
grid-column-gap: .5rem;
grid-row-gap: .5rem;
flex-direction: column;
align-items: flex-start;
margin-top: 3rem;
margin-bottom: 3rem;
display: flex;
}

.tag {
border: 1px solid #333;
padding: .25rem 1rem;
}

.tag.cc-type {
color: #fff;
background-color: #333;
margin-bottom: 1rem;
font-size: .875rem;
}

.full-image {
width: 100%;
height: 100%;
object-fit: cover;
}

.full-image.cc-contain {
object-fit: contain;
}

.work-content-container {
justify-content: space-between;
display: flex;
}

.works-link-wrapper {
max-width: 30rem;
border-left: 1px solid #333;
flex-direction: column;
align-items: flex-start;
padding-top: 2rem;
padding-bottom: 2rem;
padding-left: 6rem;
display: flex;
}

.works-link-wrapper.is-left {
padding-left: 0;
padding-right: 6rem;
}

.border-box {
width: 100%;
height: 100%;
border-right: 1px solid #333;
}

.about-content-wrapper {
max-width: 45rem;
border-left: 1px solid #333;
flex-direction: column;
align-items: flex-start;
padding: 5rem 5% 6rem 6rem;
display: flex;
}

.about-content-wrapper.is-left {
max-width: 36rem;
text-align: left;
border-left-style: none;
align-items: flex-start;
margin-left: auto;
padding-left: 5%;
padding-right: 6rem;
position: -webkit-sticky;
position: sticky;
top: 8rem;
}

.highlight {
text-shadow: 0 4px 10px rgba(229, 219, 17, .85);
}

.footer-links {
grid-column-gap: .5em;
grid-row-gap: .5em;
flex-direction: column;
align-items: flex-start;
display: flex;
}

.footer-links.is-last {
align-items: flex-end;
}

.footer-link {
color: #f6f1ee;
}

.footer-logo-wrapper {
height: 11rem;
}

.navgiation-logo-wrapper {
height: 2rem;
filter: invert();
margin-top: auto;
margin-bottom: auto;
padding-left: 0;
padding-right: 20px;
}

@media screen and (max-width: 991px) {
h1 {
    font-size: 4.8rem;
}

h2, .h2 {
    font-size: 3.2rem;
}

.h1 {
    font-size: 4.8rem;
}

.u-pt-0 {
    padding-top: 0;
}

.u-mb-0 {
    margin-bottom: 0;
}

.u-mt-0 {
    margin-top: 0;
}

.btn.cc-secondary.cc-nav {
    height: 100%;
    margin-right: 2rem;
}

.col.col-md-4 {
    max-width: 33.3333%;
    flex-basis: 33.33%;
}

.col.col-md-8 {
    max-width: 66.6667%;
    flex-basis: 66.67%;
}

.col.col-md-3 {
    max-width: 25%;
    flex-basis: 25%;
}

.col.col-md-first {
    order: -1;
}

.col.col-md-7 {
    max-width: 58.3333%;
    flex-basis: 58.33%;
}

.col.col-md-1 {
    max-width: 8.33333%;
    flex-basis: 8.33%;
}

.col.col-md-last {
    order: 1;
}

.col.col-md-10 {
    max-width: 83.3333%;
    flex-basis: 83.33%;
}

.col.col-md-9 {
    max-width: 75%;
    flex-basis: 75%;
}

.col.col-md-5 {
    max-width: 41.6667%;
    flex-basis: 41.67%;
}

.col.col-md-11 {
    max-width: 91.6667%;
    flex-basis: 91.67%;
}

.col.col-md-12 {
    max-width: 100%;
    flex-basis: 100%;
}

.col.col-md-6 {
    max-width: 50%;
    flex-basis: 50%;
}

.col.col-md-2 {
    max-width: 16.6667%;
    flex-basis: 16.67%;
}

.row.row-no-gutters.row-tablet-invert {
    flex-direction: column-reverse;
}

.u-pb-0 {
    padding-bottom: 0;
}

.section.cc-home-header {
    padding-bottom: 4rem;
}

.u-m-0 {
    margin: 0;
}

.template_header-component {
    padding-left: 2em;
    padding-right: 2em;
}

.image-wrapper.cc-projects.is-first {
    border-top-style: solid;
}

.logos_wrapper {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-wrap: wrap;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-items: start;
    display: grid;
}

.code-box {
    width: 100%;
    max-width: none;
    min-height: 6vh;
    min-width: auto;
}

.code-box.cc-worksection {
    display: none;
}

.nav-border {
    width: 1px;
    height: 10px;
    margin: 16px auto;
    display: none;
}

.nav-menu {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.work-content-wrapper {
    max-width: none;
    padding-left: 5%;
}

.work-content-wrapper.is-left {
    padding-left: 5%;
    padding-right: 5%;
}

.about-content-wrapper {
    padding-left: 10%;
}

.navgiation-logo-wrapper {
    height: 8rem;
    padding-right: 0;
}

.menu-button {
    background-color: #f6f1ee;
    background-image: url('../images/noisy-texture-200x200-o6-d10-c-F6F1EE-t1.png');
    background-position: 0 0;
    background-size: auto;
    border: 1px solid #333;
    padding: .4em;
    font-size: 2rem;
}

.menu-button.w--open {
    color: #131212;
    background-color: #f6f1ee;
    border: 1px solid #333;
}

.nav-link {
    border-bottom: 1px solid #333;
    justify-content: center;
    display: flex;
}

.nav-link.is-last {
    border-bottom-style: none;
}
}

@media screen and (max-width: 767px) {
h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.4rem;
}

.styles__section-label {
    padding-bottom: 10px;
}

.h3 {
    font-size: 1.4rem;
}

.styles__nav-btn-icon {
    width: 28px;
    height: 28px;
}

.h2 {
    font-size: 2.5rem;
}

.paragraph-1-25 {
    font-size: 1.1rem;
}

.h1 {
    font-size: 3.6rem;
}

.styles__nav-btn {
    margin-top: -2px;
    padding: 0 2px;
    font-size: 1.8rem;
    line-height: 1;
}

.styles__nav-btn:hover {
    background-color: #302f2c;
}

.styles__nav-btn.w--open {
    background-color: #302f2c;
    border-radius: 4px;
}

.form-success_flex {
    max-width: 340px;
}

.styles__nav-link {
    text-align: left;
    padding: .6em 0;
    display: block;
}

.styles__nav-link.cc-cta {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
}

.styles__nav-link.cc-cta:hover {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
}

.u-pt-0 {
    padding-top: 0;
}

.card-body {
    padding: 20px;
}

.col.col-sm-5 {
    max-width: 41.6667%;
    flex-basis: 41.67%;
}

.col.col-sm-8 {
    max-width: 66.6667%;
    flex-basis: 66.67%;
}

.col.col-sm-6 {
    max-width: 50%;
    flex-basis: 50%;
}

.col.col-sm-7 {
    max-width: 58.3333%;
    flex-basis: 58.33%;
}

.col.col-sm-4 {
    max-width: 33.3333%;
    flex-basis: 33.33%;
}

.col.col-sm-9 {
    max-width: 75%;
    flex-basis: 75%;
}

.col.col-sm-12 {
    max-width: 100%;
    flex-basis: 100%;
}

.col.col-sm-10 {
    max-width: 83.3333%;
    flex-basis: 83.33%;
}

.col.col-sm-2 {
    max-width: 16.6667%;
    flex-basis: 16.67%;
}

.col.col-sm-1 {
    max-width: 8.33333%;
    flex-basis: 8.33%;
}

.col.col-sm-last {
    order: 1;
}

.col.col-sm-3 {
    max-width: 25%;
    flex-basis: 25%;
}

.col.col-sm-11 {
    max-width: 91.6667%;
    flex-basis: 91.67%;
}

.col.col-sm-first {
    order: -1;
}

.u-pb-0 {
    padding-bottom: 0;
}

.paragraph-1-5 {
    font-size: 1.3rem;
}

.section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.styles__nav-menu {
    background-color: #302f2c;
    padding: 12px 5% 20px;
}

.template_header-component {
    padding-left: 1em;
    padding-right: 1em;
}

.bracket-image-wrapper.cc-about {
    display: none;
}

.description-box {
    border-style: none;
    margin-top: 2rem;
    padding: 0;
    position: relative;
}

.about-content-wrapper {
    padding-left: 5%;
}

.about-content-wrapper.is-left {
    margin-left: 0;
    padding-bottom: 3rem;
    padding-right: 5%;
    position: relative;
    top: auto;
}
}

@media screen and (max-width: 479px) {
h1 {
    font-size: 2.8rem;
}

h2, .h2 {
    font-size: 2rem;
}

.h1 {
    font-size: 10vw;
}

.u-pt-0 {
    padding-top: 0;
}

.u-mb-0 {
    margin-bottom: 0;
}

.styles__row-example {
    height: auto;
}

.u-mt-0 {
    margin-top: 0;
}

.col {
    max-width: 100%;
    flex-basis: 100%;
    order: 1;
}

.col.col-xs-3 {
    max-width: 25%;
    flex-basis: 25%;
}

.col.col-xs-1 {
    max-width: 8.33333%;
    flex-basis: 8.33%;
}

.col.col-xs-6 {
    max-width: 50%;
    flex-basis: 50%;
}

.col.col-xs-7 {
    max-width: 58.3333%;
    flex-basis: 58.33%;
}

.col.col-xs-4 {
    max-width: 33.3333%;
    flex-basis: 33.33%;
}

.col.col-xs-11 {
    max-width: 91.6667%;
    flex-basis: 91.67%;
}

.col.col-xs-5 {
    max-width: 41.6667%;
    flex-basis: 41.67%;
}

.col.col-xs-10 {
    max-width: 83.3333%;
    flex-basis: 83.33%;
}

.col.col-xs-8 {
    max-width: 66.6667%;
    flex-basis: 66.67%;
}

.col.col-xs-first {
    order: -1;
}

.col.col-xs-9 {
    max-width: 75%;
    flex-basis: 75%;
}

.col.col-xs-12 {
    max-width: 100%;
    flex-basis: 100%;
}

.col.col-xs-2 {
    max-width: 16.6667%;
    flex-basis: 16.67%;
}

.container {
    width: 86%;
}

.u-pb-0 {
    padding-bottom: 0;
}

.section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.u-m-0 {
    margin: 0;
}

.styles__nav-menu {
    padding-left: 7%;
    padding-right: 7%;
}

.home_header_box {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.home_header_box.is-tools {
    flex-direction: column;
}

.logos_wrapper {
    display: flex;
}

.tool-box.is-first {
    border-bottom: 1px solid #333;
    border-right-style: none;
}
}


@font-face {
    font-family: 'Satoshi Variable';
    src: url('../fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Firacode Variablefont Wght';
    src: url('../fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Neutralface';
    src: url('../fonts/NeutralFace.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Neutralface';
    src: url('../fonts/NeutralFace-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Simplon Bptestfont Mono';
    src: url('../fonts/Simplon-BPtestFont-Mono-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}