---
import BaseLayout from "../layouts/BaseLayout.astro";
import CtaSection from "../components/CtaSection.astro";
import NumberCounter from "../components/NumberCounter.svelte";
import Story from "../components/Story.svelte";

const pageTitle = "Eetu Rantanen | Web Developer from Tampere";
---

<BaseLayout pageTitle={pageTitle}>
  <section id="about" class="section cc-about">
    <div class="custom-container">
      <div class="row row-no-gutters row-justify-center">
        <div class="col u-mb-0 col-no-gutters col-lg-6 col-sm-12 relative">
          <div class="about-content-wrapper is-left">
            <div class="card pt-8 static stat-card overflow-auto" transition:name="main">
              <h2 transition:name="hero-title" class="h2 u-mb-0 u-text-center px-8">
                worklife timeline
              </h2>
              <NumberCounter client:load wrapperClasses="col-lg-12" statboxClass="cc-about"/>
            </div>
          </div>
        </div>
        <div class="col u-mb-0 col-no-gutters col-lg-6 col-sm-12">
          <Story client:load />
        </div>
      </div>
    </div>
  </section>
    <CtaSection ctaClass="" />
</BaseLayout>
