---
import BaseLayout from "../layouts/BaseLayout.astro";
import CtaSection from "../components/CtaSection.astro";
import NumberCounter from "../components/NumberCounter.svelte";

const pageTitle = "Eetu Rantanen | Web Developer from Tampere";
---

<BaseLayout pageTitle={pageTitle}>
  <section id="about" class="section cc-about">
    <div class="row row-no-gutters row-justify-center">
      <div class="col u-mb-0 col-no-gutters col-lg-5 col-sm-12">
        <div class="about-content-wrapper is-left">
          <h2 transition:name="hero-title" class="h2 u-mb-0 u-text-center">
            worklife timeline
          </h2>
          <div class="bracket-image-wrapper cc-about" transition:name="bracket">
            <img
              src="images/bracket--code-angle-programming-file-bracket.svg"
              loading="lazy"
              alt=""
              class="image-overlay"
            />
          </div>
          <!-- div transition:name="aboutImage" class="image-wrapper cc-about">
            <img
              src="images/eetu.rantanen.jpg"
              loading="lazy"
              sizes="(max-width: 767px) 45vw, (max-width: 991px) 24vw, 18vw"
              srcset="images/eetu.rantanen.jpg 500w, images/eetu.rantanen.jpg 800w, images/eetu.rantanen.jpg 1000w"
              alt=""
              class="full-image cc-portrait"
            />
            <div class="image-overlay cc-about"></div>
          </div -->
          <NumberCounter client:load wrapperClasses="col-lg-12" statboxClass="cc-about"/>
        </div>
      </div>
      <div class="col u-mb-0 col-no-gutters col-lg-7 col-sm-12">
        <div class="about-content-wrapper">
          <div class="story-section">
            <h3 class="h3 u-mb-1" transition:name="hero-subtitle">
              teens <span class="eyebrow">2010-2015</span>
            </h3>
            <p transition:name="hero-desc" class="u-text-justify u-mb-3">
              Born and raised in a small town called Kangasala, <b
                >Eetu had his sights set on becoming a volleyball sensation from
                a young age.</b
              > He started his journey as a setter and eventually transitioned
              into a spiker, making his way through the Finnish league and first
              division. His dream was to make it as a professional athlete
              overseas, and he poured his heart and soul into the sport.
              <b
                >Everything else in life took a back seat to his passion for
                sports</b
              >, even his high school graduation, which came fashionably late.
              Who needs good grades when you're planning to play volleyball
              until eternity, right?
            </p>
            <p class="u-text-justify u-mb-2">
              As a talented and motivated athlete, eetu entered the Finnish
              league at the early age of 16. Living the life of a
              semi-professional athlete, juggling various side gigs on the side.

              <b>Adulthood and a regular job seemed like a distant future</b>;
              the athlete's career still had a glimmer of hope.
            </p>
            <div class="image-wrapper cc-story">
              <img
                src="images/er-spiker.jpg"
                loading="lazy"
                sizes="(max-width: 767px) 45vw, (max-width: 991px) 24vw, 18vw"
                srcset="images/er-spiker.jpg 500w, images/er-spiker.jpg 800w, images/er-spiker.jpg 1000w"
                alt="Volleyball"
                class="full-image cc-portrait"
              />
              <div class="image-overlay cc-about"></div>
            </div>
          </div>
          <div class="story-section">
            <h3 class="h3 u-mb-1">
              young adult <span class="eyebrow">2015-2020</span>
            </h3>
            <p class="u-text-justify u-mb-3">
              The seasons rolled on, and after a few heartbreakingly
              disappointing ones, <b
                >eetu was hit with a harsh reality check — he wasn't going to
                make it as a professional athlete.</b
              > This bitter pill to swallow left him with no Plan B, but
              fortunately, life had other plans in store for him.
            </p>
            <p class="u-text-justify u-mb-3">
              Eetu decided to embark on a journey that took him from the courts
              to the classroom. <b
                >Enrolling in a college in Pietarsaari, he started his studies
                for a business degree</b
              >, initially finding them refreshing after his hiatus from high
              school. But it didn't take long for him to realize that this path
              wasn't his calling. Spending four years pursuing a degree without
              a clear direction wasn't something he wanted. <b
                >Eetu made a bold decision and dropped out after just one year.</b
              >
            </p>
            <p class="u-text-justify u-mb-3">
              One of Eetu's <b
                >side gigs during his volleyball days was accounting, where his
                knack for organization and problem-solving shone.</b
              > He found beauty in transforming chaotic financial data into
              tidy, readable reports for entrepreneurs. Inspired by this
              experience,
              <b>Eetu decided to pursue an accounting degree.</b> With the
              skills honed during his side gigs, he swiftly earned his degree
              within a year and started working as a bookkeeper.
            </p>
            <p class="u-text-justify u-mb-2">
              <b
                >While attending school, Eetu continued to nurture his creative
                side.</b
              > Graphic and web design, a passion he had cultivated since his
              early teens, provided <b
                >a perfect counterbalance to the systematic world of accounting.</b
              > But as the daily grind of accounting started to feel repetitive,
              Eetu began to dream of entrepreneurship. His interest in digital
              design and web development grew stronger, and he started to see a
              future in it. <b>Eetu dipped his toes into web development</b>
               using WordPress but felt limited by its constraints. Then, he
              stumbled upon <b
                >a game-changer for him — Webflow. With this tool, he felt only
                the sky was the limit,</b
              > and he dove headfirst into learning it, paving the way for a
              freelance career in web development.
            </p>
            <div class="image-wrapper cc-story">
              <img
                src="images/eetu-iso.webp"
                loading="lazy"
                sizes="(max-width: 767px) 45vw, (max-width: 991px) 24vw, 18vw"
                srcset="images/eetu-iso.webp 500w, images/eetu-iso.webp 800w, images/eetu-iso.webp 1000w"
                alt="Eetu Rantanen"
                class="full-image cc-portrait"
              />
              <div class="image-overlay cc-about"></div>
            </div>
          </div>
          <div class="story-section">
            <h3 class="h3 u-mb-1">
              adult <span class="eyebrow">2020-present</span>
            </h3>
            <p story-paragraph class="u-text-justify u-mb-3">
              Eetu took the leap, <b>launching his own business.</b> Initially,
              it was a side hustle while he continued his accounting work, but
              it wasn't long before his client base expanded, and <b
                >he was able to leave his day job behind. Turning his passion
                into a profession felt like a dream come true.</b
              >
            </p>
            <p story-paragraph class="u-text-justify u-mb-3">
              A few years went by, and the <b
                >web design & development work remained fun and rewarding.</b
              > But as exhilarating as the freedom of setting his own hours and
              making all the decisions was, <b
                >Eetu began to yearn for collaboration and structure in his work
                life.</b
              > So, he set out to find other web agencies that could use his
              expertise. That's when he discovered <b
                >Kuasi, a Webflow development agency based in Turku, Finland.
                Eetu and Kuasi joined forces</b
              >, with him handling the development while they managed the
              rest—marketing, sales, design, and client communication. <b
                >This arrangement allowed Eetu to immerse himself in
                development, learning new tools and languages as projects grew
                in complexity.</b
              >
            </p>
            <p story-paragraph class="u-text-justify u-mb-3">
              Today, eetu proudly calls himself <b
                >not just a Webflow developer, but a full-fledged web developer,
                primarily specializing in front-end development.</b
              > His journey with Webflow has deepened his understanding of HTML
              and CSS. Later, learning Java- and TypeScript alongside the Svelte
              framework has opened up a new universe of possibilities in the
              world of web development. Eetu is well-versed in GitHub, has
              crafted a couple of simple APIs using Cloudflare Workers, and has
              published sites using Astro. He has created simple web
              applications using low-code tools and enhanced their functionality
              with custom-written JavaScript.
            </p>
            <p story-paragraph class="u-text-justify u-mb-1">
              <strong class="highlight"
                >Eetu's hunger for knowledge is insatiable, and he constantly
                strives to become an even better web developer. If you have a
                web development project in mind that needs a pair of
                professional hands, Eetu is your man.</strong
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <CtaSection ctaClass="" />
  </section>
</BaseLayout>
