---
import { fade } from "astro:transitions";
import BaseLayout from "../layouts/BaseLayout.astro";
import CtaSection from "../components/CtaSection.astro";
import PostList from "../components/PostList.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");

const pageTitle = "Web Dev Micro Blog | Web Developer from Tampere";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="section cc-home-header">
    <div class="custom-container" transition:name="hero" transition:animate={fade({ duration: "0.4s" })}>
      <div class="row row-justify-center">
        <div class="col col-lg-6 col-md-12">
          <div class="u-text-center u-mb-3">
            <h1 class="h2" transition:name="hero-title">my two cents</h1>
            <p transition:name="hero-desc">in this (micro) blog, if wan’t to share my experiences and thoughts about various subjects about my professional life. Take a peek, join the conversation or share with your audience</p>
          </div>
        </div>
      </div>
      <PostList posts={posts}/>
    </div>
  </div>
  <CtaSection ctaClass=""/>
</BaseLayout>