---
import { fade } from "astro:transitions";
import BaseLayout from "../layouts/BaseLayout.astro";
import CtaSection from "../components/CtaSection.astro";
import PostList from "../components/PostList.astro";
import supabase from "../lib/supabaseClient";

const pageTitle = "Web Dev Micro Blog | Web Developer from Tampere";

let { data: posts, error } = await supabase.from("BlogPosts").select("*");
---

<BaseLayout pageTitle={pageTitle}>
  <div class="section cc-home-header">
    <div
      class="custom-container"
      transition:name="hero"
      transition:animate={fade({ duration: "0.4s" })}
    >
      <div class="row">
        <div class="col col-lg-8 col-md-12 overflow-visible">
          <div
            class="card p-8 pt-16 md:p-16 overflow-visible"
            transition:name="main"
          >
            <h1 class="h2" transition:name="hero-title">My Two Cents</h1>
            <p transition:name="hero-desc">
              in this (micro) blog, if wan’t to share my experiences and
              thoughts about various subjects about my professional life. Take a
              peek, join the conversation or share with your audience
            </p>
            <div
              class="card p-4 px-8 max-w-xs bg-class"
              style="position: absolute; top: -2rem;"
            >
              <p transition:name="hero-subtitle">micro blog</p>
            </div>
          </div>
        </div>
      </div>
      <PostList posts={posts} />
    </div>
  </div>
  <CtaSection ctaClass="" />
</BaseLayout>
