---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="section cc-home-header">
    <div class="container">
      <div class="row row-justify-center">
        <div class="col col-lg-8">
          <div transition:name="post-date" class="date-text cc-blogpage">24/09/23</div>
          <h1 transition:name="post-title" class="blog-heading">Donec imperdiet mauris massa erat praesent nulla vel.</h1>
          <div transition:name="post-wrapper" class="blog-content-wrapper">
            <div class="blog-header">
              <div transition:name="post-tags" class="blog-tags">
                <a href="#" class="tag-link">#productivity</a>
                <a href="#" class="tag-link">#webdevelopment</a>
                <a href="#" class="tag-link">#webdevelopment</a>
                <a href="#" class="tag-link">#webdevelopment</a>
                <a href="#" class="tag-link">#webdevelopment</a>
                <a href="#" class="tag-link">#webdevelopment</a>
              </div>
              <a transition:name="post-button" href="#" class="btn cc-light cc-smaller w-button">Share on twitter</a>
            </div>
            <div class="blog-richtext w-richtext">
              <p>
                in this (micro) blog, if wan’t to share my experiences and thoughts about various subjects about my professional life. Take a peek, join the conversation or share with your audience. in this (micro) blog, if wan’t to share my experiences and thoughts about various subjects about my
                professional life. Take a peek, join the conversation or share with your audience.
              </p>
              <h2>Subheading 2</h2>
              <p>
                in this (micro) blog, if wan’t to share my experiences and thoughts about various subjects about my professional life. Take a peek, join the conversation or share with your audience. in this (micro) blog, if wan’t to share my experiences and thoughts about various subjects about my
                professional life. Take a peek, join the conversation or share with your audience.
              </p>
              <h3>Subheading 3</h3>
              <p>
                in this (micro) blog, if wan’t to share my experiences and thoughts about various subjects about my professional life. Take a peek, join the conversation or share with your audience. in this (micro) blog, if wan’t to share my experiences and thoughts about various subjects about my
                professional life. Take a peek, join the conversation or share with your audience.
              </p>
              <h4>Subheading 4</h4>
              <p>
                in this (micro) blog, if wan’t to share my experiences and thoughts about various subjects about my professional life. Take a peek, join the conversation or share with your audience. in this (micro) blog, if wan’t to share my experiences and thoughts about various subjects about my
                professional life. Take a peek, join the conversation or share with your audience.
              </p>
              <figure style="max-width:1667px" class="w-richtext-align-fullwidth w-richtext-figure-type-image">
                <div><img src="images/maptionnaire-mockup.jpg" loading="lazy" alt="" /></div>
                <figcaption>Caption caption caption</figcaption>
              </figure>
            </div>
            <a href="#" class="btn cc-light cc-smaller w-button">Share on twitter</a>
          </div>
          <div class="u-text-center"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section cc-cta">
    <div class="container">
      <div class="row row-justify-center">
        <div class="col col-lg-8 col-min-60 col-md-12">
          <div class="cta-card">
            <div class="eyebrow">I’m currently looking for work as a freelance developer.</div>
            <h2>Wan’t to chat?<br />I’d like that!</h2>
            <a href="#" class="btn cc-cta w-inline-block">
              <div>Shoot me a message</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
