---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeWorkSlider from "../components/HomeWorkSlider.svelte";
import NumberCounter from "../components/NumberCounter.svelte";
import CtaSection from "../components/CtaSection.astro";
import supabase from "../lib/supabase";

const pageTitle = "Eetu Rantanen | Web Developer from Tampere";

let { data: works, error } = await supabase.from("works").select("*");
---

<BaseLayout pageTitle={pageTitle}>
  <section class="section cc-home-header">
    <div class="custom-container">
      <div class="row row-no-gutters row-justify-between">
        <div
          class="col col-no-gutters col-shrink col-md-12 card overflow-visible"
          transition:name="main"
          style="box-shadow: -8px 8px #333"
        >
          <div class="home_header_box">
            <div class="bracket-image-wrapper" transition:name="bracket">
              <img
                src="images/bracket--code-angle-programming-file-bracket.svg"
                loading="lazy"
                alt=""
                class="image-overlay"
              />
            </div>
            <div class="h1" transition:name="hero-subtitle">
              Eetu<br />Rantanen
            </div>
          </div>
          <div class="home_header_box is-below">
            <div transition:name="hero-title" class="h1 u-text-bold">
              Web<br />Developer
            </div>
            <div class="description-box">
              <h1 transition:name="hero-desc" class="paragraph">
                Moro! I’m Eetu, A web developer based in Tampere, Finland.
              </h1>
            </div>
          </div>
          <div class="home_header_box is-tools">
            <div class="tool-box is-first" transition:name="box1">
              <div class="logos_wrapper">
                <img
                  src="images/html5.svg"
                  loading="lazy"
                  alt=""
                  class="logo-image"
                />
                <img
                  src="images/css3.svg"
                  loading="lazy"
                  alt=""
                  class="logo-image"
                />
                <img
                  src="images/js.svg"
                  loading="lazy"
                  alt=""
                  class="logo-image"
                />
                <img
                  src="images/ts.svg"
                  loading="lazy"
                  alt=""
                  class="logo-image"
                />
                <img
                  src="images/svelte.svg"
                  loading="lazy"
                  alt=""
                  class="logo-image"
                />
              </div>
              <div class="toolbox-text">languages</div>
            </div>
            <div class="tool-box" transition:name="box2">
              <div class="logos_wrapper">
                <img
                  src="images/webflow-logo-new.svg"
                  loading="lazy"
                  alt="webflow logo"
                  class="logo-image"
                />
                <img
                  src="images/svelte-kit.svg"
                  loading="lazy"
                  alt="svelte-kit logo"
                  class="logo-image"
                />
                <img
                  src="images/astro.svg"
                  loading="lazy"
                  alt="astro logo"
                  class="logo-image"
                />
                <img
                  src="images/Vercel-logo.svg"
                  loading="lazy"
                  alt="vercel logo"
                  class="logo-image"
                />
                <img
                  src="images/CloudFlare-logo.svg"
                  loading="lazy"
                  alt="cloudflare logo"
                  class="logo-image"
                  style="height: 25px;"
                />
                <img
                  src="images/Supabase-logo.svg"
                  loading="lazy"
                  alt="supabase logo"
                  class="logo-image"
                />
              </div>
              <div class="toolbox-text">tools</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="marquee">
    <div class="marquee-content scroll">
      <div>
        <h2 class="h2 u-mb-0">projects</h2>
      </div>
      <div class="bracket-image-wrapper cc-marquee">
        <svg xmlns="http://www.w3.org/2000/svg" width="85" height="52" viewBox="0 0 85 52" fill="none">
          <g id="bracket--code-angle-programming-file-bracket">
          <path id="Vector" d="M25.6898 45L6.25977 25.57L25.6898 6.13989" stroke="#f6f1ee" stroke-width="8.6819" stroke-linecap="square"/>
          <path id="Vector_2" d="M58.9985 45L78.4286 25.5699L58.9985 6.13988" stroke="#f6f1ee" stroke-width="8.6819" stroke-linecap="square"/>
          </g>
        </svg>
      </div>
      <div>
        <div class="h2 u-mb-0">web dev</div>
      </div>
      <div class="bracket-image-wrapper cc-marquee">
        <svg xmlns="http://www.w3.org/2000/svg" width="85" height="52" viewBox="0 0 85 52" fill="none">
          <g id="bracket--code-angle-programming-file-bracket">
          <path id="Vector" d="M25.6898 45L6.25977 25.57L25.6898 6.13989" stroke="#f6f1ee" stroke-width="8.6819" stroke-linecap="square"/>
          <path id="Vector_2" d="M58.9985 45L78.4286 25.5699L58.9985 6.13988" stroke="#f6f1ee" stroke-width="8.6819" stroke-linecap="square"/>
          </g>
        </svg>
      </div>
      <div>
        <div class="h2 u-mb-0">projects</div>
      </div>
      <div class="bracket-image-wrapper cc-marquee">
        <svg xmlns="http://www.w3.org/2000/svg" width="85" height="52" viewBox="0 0 85 52" fill="none">
          <g id="bracket--code-angle-programming-file-bracket">
          <path id="Vector" d="M25.6898 45L6.25977 25.57L25.6898 6.13989" stroke="#f6f1ee" stroke-width="8.6819" stroke-linecap="square"/>
          <path id="Vector_2" d="M58.9985 45L78.4286 25.5699L58.9985 6.13988" stroke="#f6f1ee" stroke-width="8.6819" stroke-linecap="square"/>
          </g>
        </svg>
      </div>
      <div>
        <div class="h2 u-mb-0">web dev</div>
      </div>
      <div class="bracket-image-wrapper cc-marquee">
        <svg xmlns="http://www.w3.org/2000/svg" width="85" height="52" viewBox="0 0 85 52" fill="none">
          <g id="bracket--code-angle-programming-file-bracket">
          <path id="Vector" d="M25.6898 45L6.25977 25.57L25.6898 6.13989" stroke="#f6f1ee" stroke-width="8.6819" stroke-linecap="square"/>
          <path id="Vector_2" d="M58.9985 45L78.4286 25.5699L58.9985 6.13988" stroke="#f6f1ee" stroke-width="8.6819" stroke-linecap="square"/>
          </g>
        </svg>
      </div>
    </div>
    <div class="marquee-content scroll">
      <div>
        <div class="h2 u-mb-0">projects</div>
      </div>
      <div class="bracket-image-wrapper cc-marquee">
        <svg xmlns="http://www.w3.org/2000/svg" width="85" height="52" viewBox="0 0 85 52" fill="none">
          <g id="bracket--code-angle-programming-file-bracket">
          <path id="Vector" d="M25.6898 45L6.25977 25.57L25.6898 6.13989" stroke="#f6f1ee" stroke-width="8.6819" stroke-linecap="square"/>
          <path id="Vector_2" d="M58.9985 45L78.4286 25.5699L58.9985 6.13988" stroke="#f6f1ee" stroke-width="8.6819" stroke-linecap="square"/>
          </g>
        </svg>
      </div>
      <div>
        <div class="h2 u-mb-0">web dev</div>
      </div>
      <div class="bracket-image-wrapper cc-marquee">
        <svg xmlns="http://www.w3.org/2000/svg" width="85" height="52" viewBox="0 0 85 52" fill="none">
          <g id="bracket--code-angle-programming-file-bracket">
          <path id="Vector" d="M25.6898 45L6.25977 25.57L25.6898 6.13989" stroke="#f6f1ee" stroke-width="8.6819" stroke-linecap="square"/>
          <path id="Vector_2" d="M58.9985 45L78.4286 25.5699L58.9985 6.13988" stroke="#f6f1ee" stroke-width="8.6819" stroke-linecap="square"/>
          </g>
        </svg>
      </div>
      <div>
        <div class="h2 u-mb-0">projects</div>
      </div>
      <div class="bracket-image-wrapper cc-marquee">
        <svg xmlns="http://www.w3.org/2000/svg" width="85" height="52" viewBox="0 0 85 52" fill="none">
          <g id="bracket--code-angle-programming-file-bracket">
          <path id="Vector" d="M25.6898 45L6.25977 25.57L25.6898 6.13989" stroke="#f6f1ee" stroke-width="8.6819" stroke-linecap="square"/>
          <path id="Vector_2" d="M58.9985 45L78.4286 25.5699L58.9985 6.13988" stroke="#f6f1ee" stroke-width="8.6819" stroke-linecap="square"/>
          </g>
        </svg>
      </div>
      <div>
        <div class="h2 u-mb-0">web dev</div>
      </div>
      <div class="bracket-image-wrapper cc-marquee">
        <svg xmlns="http://www.w3.org/2000/svg" width="85" height="52" viewBox="0 0 85 52" fill="none">
          <g id="bracket--code-angle-programming-file-bracket">
          <path id="Vector" d="M25.6898 45L6.25977 25.57L25.6898 6.13989" stroke="#f6f1ee" stroke-width="8.6819" stroke-linecap="square"/>
          <path id="Vector_2" d="M58.9985 45L78.4286 25.5699L58.9985 6.13988" stroke="#f6f1ee" stroke-width="8.6819" stroke-linecap="square"/>
          </g>
        </svg>
      </div>
    </div>
  </div>
  <HomeWorkSlider client:load works={works} transition:name="works" />
  <div class="row row-no-gutters cc-border-bottom">
    <div class="col u-mb-0 col-no-gutters col-lg-4 col-md-1">
      <div class="border-box"></div>
    </div>
    <div class="col u-mb-0 col-no-gutters col-lg-3 col-md-3"></div>
    <div class="col u-mb-0 col-no-gutters col-lg-5 col-md-8">
      <div class="works-link-wrapper">
        <a href="/work" class="text-link">see all works</a>
      </div>
    </div>
  </div>
  <section id="about" class="section cc-about">
    <div class="row row-no-gutters">
      <div class="col u-mb-0 col-no-gutters col-lg-4 col-md-12">
        <div class="about-content-wrapper is-left-home">
          <h2 class="h2 home-about-title-text">hello. who is this?</h2>
        </div>
      </div>
      <div class="col u-mb-0 col-no-gutters col-lg-3 col-md-12">
        <div class="image-wrapper cc-about-home">
          <img
            transition:name="aboutImage"
            src="images/eetu.rantanen.webp"
            loading="lazy"
            alt="Web developer Eetu Rantanen portrait"
            class="full-image cc-portrait"
          />
          <div class="image-overlay cc-about"></div>
        </div>
      </div>
      <div class="col u-mb-0 col-no-gutters col-lg-5 col-md-12">
        <div class="home-about-content-wrapper">
          <div class="work-content-wrapper">
            <h2 class="h3 u-mb-1">About me</h2>
            <p transition:name="about-desc" class="u-text-justify u-mb-3">
              Hey! I’m Eetu. self taught web developer living his best life in
              Tampere, finland. Husband of a lovely wife, dad of a human baby
              boy and a wonderfully lunatic dog. Ex semi-professional volleyball
              player. What else?
            </p>
            <a href="/about" class="btn cc-light w-button">read my story</a>
          </div>
        </div>
      </div>
    </div>
    <NumberCounter
      client:load
      wrapperClasses="col-lg-3 col-md-6 col-xs-12"
      statboxClass=""
    />
  </section>
  <CtaSection ctaClass="cc-home" />
</BaseLayout>

<style>
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 4rem)); /* match 1 rem to gap above */
    }
  }
  .scroll {
    animation: scroll 50s linear infinite;
  }

  .splide__arrow {
    height: 3em;
    width: 3em;
    border: 1px solid #333;
    border-radius: 0px;
  }
</style>