---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Eetu Rantanen | Web Developer from Tampere";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Hello!</h1>

  <div>
    <ul>
        
    </ul>
  </div>
</BaseLayout>
