---
import BaseLayout from "../layouts/BaseLayout.astro";
import CtaSection from "../components/CtaSection.astro";
import WorkGrid from "../components/WorkGrid.astro";
import { XataClient } from "../xata";

const xata = new XataClient({
  apiKey: import.meta.env.XATA_API_KEY,
  branch: import.meta.env.XATA_BRANCH,
});

let works = await xata.db.works.getAll();

const pageTitle = "Web Development Projects | Web Developer from Tampere";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="section cc-home-header" style="padding-bottom: 4rem;">
    <div class="custom-container">
      <div class="row">
        <div class="col col-lg-8 col-md-12 overflow-visible">
          <div class="card p-8 pt-16 md:p-16 overflow-visible" transition:name="main">
            <h1 class="h2" transition:name="hero-title">
              Web Development Projects
            </h1>
            <p transition:name="hero-desc">
              Here's a collection of my past work in the web development field.
              These projects are from 2019 to this date. Ranging from small
              freelance projects to bigger complex multisite projects.
              <br /><br />
               Click a project to open the case study. Feel free to ask for more
              details or my experiences with spesific types of projects.
            </p>
            <div
              class="card p-4 px-8 max-w-xs bg-class"
              style="position: absolute; top: -2rem;"
            >
              <p transition:name="hero-subtitle">past projects</p>
            </div>
          </div>
        </div>
        <div class="col col-lg-4 col-md-12">
          <div class="card p-8 overflow-visible gap-1" transition:name="box1">
            <h2 class="h3">Tools in use</h2>
            <a
              href="https://www.linkedin.com/in/eetu-rantanen-mbw/"
              class="text-link">Webflow</a
            >
            <a href="https://twitter.com/rantasen_eetu" class="text-link"
              >Astro</a
            >
            <a href="https://github.com/Eetwalt" class="text-link">Sveltekit</a>
          </div>
          <div class="card p-8 overflow-visible gap-1" transition:name="box2">
            <h2 class="h3">Languages</h2>
            <a
              href="https://www.linkedin.com/in/eetu-rantanen-mbw/"
              class="text-link">HTML</a
            >
            <a href="https://twitter.com/rantasen_eetu" class="text-link">CSS</a
            >
            <a href="https://github.com/Eetwalt" class="text-link">Javascript</a
            >
            <a href="https://github.com/Eetwalt" class="text-link">Typescript</a
            >
            <a href="https://github.com/Eetwalt" class="text-link">Svelte</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="work" class="section cc-projects">
    <WorkGrid works={works} gridClass="home-work-grid" />
  </section>
  <CtaSection ctaClass="cc-home" />
</BaseLayout>
