---
import BaseLayout from '../layouts/BaseLayout.astro';
import CtaSection from '../components/CtaSection.astro';
import WorkGrid from '../components/WorkGrid.astro';
import { getCollection } from 'astro:content';

const works = await getCollection("works");

const pageTitle = "Web Development Projects | Web Developer from Tampere";
---

<BaseLayout pageTitle={pageTitle}>
	  <section id="work" class="section cc-projects">
		<WorkGrid works={works} gridClass='workpage-work-grid'/>
	  </section>
	<CtaSection ctaClass="cc-home" />
</BaseLayout>