---
import { XataClient } from '../xata';
 
const xata = new XataClient({
  apiKey: import.meta.env.XATA_API_KEY,
  branch: import.meta.env.XATA_BRANCH
});

const post = Astro.props;
---

<div class="col col-lg-4">
  <div class="card">
    <div class="card-body">
        <div class="blog-tags">
        </div>
        <h3 class="h3">{post.title}</h3>
        <p class="line-clamp-2 u-mb-3">
        {post.description}
        </p>
        <a href={'/posts/' + post.slug} class="btn cc-light w-button">read post</a>
        <div class="date-text">{post.publishDate.toLocaleDateString('fi-FI')}</div>
    </div>
  </div>
</div>