---
const { ctaClass } = Astro.props;
---

<section class={`section cc-cta ${ctaClass}`}>
    <div class="custom-container">
        <div class="row row-justify-center">
            <div class="col col-lg-8 col-min-60 col-md-12">
            <div class="cta-card">
                <div class="eyebrow">I’m currently looking for work as a freelance developer.</div>
                <h2>Wan’t to chat?<br>I’d like that!</h2>
                <a href="#" class="btn cc-cta w-inline-block">
                <div>Shoot me a message</div>
                </a>
            </div>
            </div>
        </div>
    </div>
</section>