---

---

<footer class="section cc-footer">
    <div class="custom-container">
      <div class="row row-justify-between row-justify-center">
        <div class="col col-lg-4 col-sm-12 u-mb-0">
          <div class="footer-links">
            <h3 class="h3">pages</h3>
            <a href="/" class="footer-link">home</a>
            <a href="/work" class="footer-link">work</a>
            <a href="/about" class="footer-link">about</a>
            <a href="/blog" class="footer-link">blog</a>
            <a href="/contact" class="footer-link">contact</a>
          </div>
        </div>
        <div class="col col-lg-4 col-sm-12 u-mb-0">
          <div class="footer-logo-wrapper"><img src="../images/white-icon.svg" loading="lazy" alt="Eetu Rantanen logo" class="full-image cc-contain"></div>
        </div>
        <div class="col col-lg-4 col-sm-12 u-mb-0">
          <div class="footer-links is-last">
            <h3 class="h3">links</h3>
            <a href="https://www.linkedin.com/in/eetu-rantanen-mbw/" class="footer-link">linkedin</a>
            <a href="https://twitter.com/rantasen_eetu" class="footer-link">x(twitter)</a>
            <a href="https://github.com/Eetwalt" class="footer-link">github</a>
          </div>
        </div>
      </div>
    </div>
</footer>
<div class="copyright-wrapper">
  <div class="custom-container">
    <div class="row u-pt-1 u-pb-1">
      <div class="col col-lg-6 col-xs-12 u-mb-0">
        <p class="mb-0">
          © Copyright Eetu Rantanen
        </p>
      </div>
      <div class="col col-lg-6 col-xs-12 u-mb-0">
        <p class="text-left sm:text-right mb-0">
          built in <a class="text-link" href="https://astro.build/" target="_blank">astro</a>, hosted on <a class="text-link" href="https://vercel.com/" target="_blank">Vercel</a>
        </p>
      </div>
    </div>
  </div>
</div>