---

---

<footer class="section cc-footer">
    <div class="custom-container">
      <div class="row row-justify-between">
        <div class="col col-lg-4">
          <div class="footer-links">
            <h3>pages</h3>
            <a href="/" class="footer-link">home</a>
            <a href="/work" class="footer-link">work</a>
            <a href="/about" class="footer-link">about</a>
            <a href="/blog" class="footer-link">blog</a>
          </div>
        </div>
        <div class="col col-lg-4">
          <div class="footer-logo-wrapper"><img src="../images/white-icon.svg" loading="lazy" alt="Eetu Rantanen logo" class="full-image cc-contain"></div>
        </div>
        <div class="col col-lg-4">
          <div class="footer-links is-last">
            <h3>links</h3>
            <a href="#" class="footer-link">linkedin</a>
            <a href="#" class="footer-link">instagram</a>
            <a href="#" class="footer-link">github</a>
          </div>
        </div>
      </div>
    </div>
</footer>