---

---
<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="top-nav w-nav">
    <div class="container">
      <div class="row row-justify-between">
        <div class="col col-shrink u-mb-0">
          <nav role="navigation" class="nav-menu w-nav-menu">
            <div class="navgiation-logo-wrapper"><img src="images/white-icon.svg" loading="lazy" alt="" class="full-image cc-contain"></div>
            <div class="nav-border"></div>
            <a href="/" class="nav-link w-nav-link">Home</a>
            <div class="nav-border"></div>
            <a href="#" class="nav-link w-nav-link">work</a>
            <div class="nav-border"></div>
            <a href="/#about" class="nav-link w-nav-link">About</a>
            <div class="nav-border"></div>
            <a href="#" class="nav-link is-last w-nav-link">blog</a>
          </nav>
        </div>
        <div class="col col-shrink u-mb-0">
          <div class="menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div>
          <a href="#" class="btn cc-secondary cc-nav w-inline-block">
            <div>Contact</div>
          </a>
        </div>
      </div>
    </div>
</div>