---
import ProjectGridCard from "./ProjectGridCard.astro";
import { createClient } from "@supabase/supabase-js";

const supabase = createClient (import.meta.env.NEXT_PUBLIC_SUPABASE_URL, import.meta.env.NEXT_PUBLIC_SUPABASE_ANON_KEY);
let { data: works, error } = await supabase
  .from('works')
  .select('*')

const { gridClass } = Astro.props;
---

<div class={`${gridClass}`}>
    {works.map((work: any) => 
        <ProjectGridCard work={work}/>
    )}
</div>